:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-dark: #c4c4c4;
  --color-gray-light: #d6d6d6;
  --color-primary-main: #01996d;
  --color-primary-add: #245852;
  --color-text: #484848;
  --color-text-light: #424242;
  --color-text-dark: #292929;

  --font-main: "Poppins", sans-serif;
  --font-add: "Lato", sans-serif;
  --font-logo: "Montserrat", sans-serif;

  --transition: 0.2s all ease-in-out;
}

/* tag base styles */

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-text-dark);
}

/* common styles */

.btn {
  display: inline-block;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-family: var(--font-add);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-black);
  padding: 13px 50px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: var(--transition);
}

.btn_link {
  color: var(--color-black);
}

.btn_link:hover {
  color: var(--color-primary-add);
}

.btn_primary {
  background: var(--color-primary-main);
  color: var(--color-white);
  border-color: var(--color-primary-main);
}

.btn_primary:hover {
  background: var(--color-primary-add);
  border-color: var(--color-primary-add);
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
}
.container {
  max-width: 1507px;
  margin-inline: auto;
}

/* header */

.header {
  padding: 28px 68px;
  border-bottom: 1px solid var(--color-gray-light);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: var(--font-logo);
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: var(--color-primary-main);
}

.header__nav {
}

.header__ul {
  display: flex;
  align-items: center;
  gap: 72px;
}

.header__li {
}

.header__a {
  font-family: var(--font-add);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-text-dark);
  transition: var(--transition);
}

.header__a:hover {
  color: var(--color-primary-main);
}

.header__ul .material-icons {
  display: none;
}

.header__burger {
  display: none;
  color: var(--color-primary-main);
}

@media (max-width: 1200px) {
  .header__auth {
    display: none;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 20px;
  }
  .header__logo {
    font-size: 16px;
    line-height: 18px;
  }
  .header__ul {
    gap: 15px;
  }
  .header__a {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 492px) {
  .header__ul {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    background: var(--color-primary-add);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transition: var(--transition);
    transform: translateX(120%);
  }

  .header__ul._active {
    transform: translateX(0);
  }

  .header__ul .material-icons {
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 20px;
    color: var(--color-white);
  }

  .header__burger {
    display: inline-block;
  }

  .header__a {
    color: var(--color-white);
    font-size: 16px;
    line-height: 24px;
  }
}

/* header end */

/* main section */

.main-section {
  height: calc(100vh - 110px);
  position: relative;
  padding: 0 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 170px;
}

.main-section__bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.main-section__bg img {
  height: 100%;
}

.main-section__title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 65px;
  line-height: 98px;
  max-width: 443px;
  color: var(--color-primary-main);
  margin-bottom: 10px;
}

.main-section__desc {
  font-family: var(--font-add);
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: var(--color-text);
  margin-bottom: 53px;
  max-width: 420px;
}

/* main section end */

/* how section */

.how-section {
  padding: 0 62px;
  margin-bottom: 392px;
}

.how-section__title {
  font-family: var(--font-add);
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: var(--color-text-light);
}

.how-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 80px;
}

.how-section__slogan {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  max-width: 579px;
  color: var(--color-primary-main);
}

.how-section__desc {
  font-family: var(--font-add);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  max-width: 670px;
  color: var(--color-text-light);
}

.how-section__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 61px;
}

.how-section .item {
  display: flex;
  flex-direction: column;
}

.how-section .item__title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: var(--color-black);
  margin-bottom: 20px;
}

.how-section .item__desc {
  flex-grow: 1;
  font-family: var(--font-add);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-text-light);
  margin-bottom: 65px;
}

.how-section .item__img {
  max-width: 390px;
  border-radius: 12px;
}

@media (max-width: 1600px) {
  .how-section .item {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .how-section__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

@media (max-width: 492px) {
  .how-section {
    padding: 0 29px;
  }
  .how-section__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .how-section .item__img {
    max-width: 100%;
    width: 100%;
  }
}

/* how section end */

/* story section */

.story__wrapper {
  background: var(--color-primary-add);
}

.story__title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: var(--color-white);
}

.story__desc {
  font-family: var(--font-add);
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: var(--color-white);
}

.main-section__btn {
}

.btn {
}

.btn_primary {
}

/* story section end  */
